* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

.content {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
}

table, h2 {
    text-align: center;
}

h2 {
    font-size: clamp(0.813rem, 0.517rem + 1.48vw, 1.625rem);
}

th {
    font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

td {
    font-size: clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem);
}